body {
  background-color: #2B2B2B;
  color: #A9B7C6;
  font-family: Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding: 2em;
}

.todo {
  color: #ABC023;
  font-style: italic;
}

.keyword {
  color: #CC7832;
}

.indent-0 {
  text-indent: 0em;
}

.indent-1 {
  text-indent: 2em;
}

.indent-2 {
  text-indent: 4em;
}

.blink-me {
  animation: blinker 1250ms linear infinite;
}

.string {
  color: #6A8759;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}