/* 
    Document   : style
    Author     : Keane
    Description: Base styles for GitHub.io page
*/

/** fonts **/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);

/** header **/

.navbar{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #010;
  border-radius: 0px;
  font-family: 'Roboto Condensed', 'sans-serif';
}

.navbar-brand #github{
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  text-shadow: 0 -1.5px 0 rgba(0,0,0,0.7);
}

/** affects all page sections **/
.page-section{
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-section + .page-section{
  border-top: #ccc solid 1px;
  background-color: #fff;
}
.section-content{
  padding-top: 20px;
}

/** top section **/
#section-top{
  background-image: url('../img/stars.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

#article-top{
}

.banner{
  font-weight: 100;
  letter-spacing: 2px;
  text-shadow: 0 -1.5px 0 rgba(0,0,0,0.7);
  color: #fff;
}

.subtitle{
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
}

/** project section **/
#section-projects{
}

/** companies section **/
#section-companies{
}

/** biography section **/
#section-biography{
}

/** main body **/
body {
  background-color: #fff;
}

/** images **/
img.suit-logo{
  width: 100px;
}
